@font-face {
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/nunitosans/v6/pe0oMImSLYBIv1o4X1M8cce4E9lKcw.ttf)
    format("truetype");
}
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/nunitosans/v6/pe0qMImSLYBIv1o4X1M8cce9I94.ttf)
    format("truetype");
}
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/nunitosans/v6/pe03MImSLYBIv1o4X1M8cc8aBc5tU1Q.ttf)
    format("truetype");
}

@font-face {
  font-family: "percolate";
  src: url("../assets/icon/percolate.eot?-5w3um4");
  src: url("../assets/icon/percolate.eot?#iefix5w3um4")
      format("embedded-opentype"),
    url("../assets/icon/percolate.woff?5w3um4") format("woff"),
    url("../assets/icon/percolate.ttf?5w3um4") format("truetype"),
    url("../assets/icon/percolate.svg?5w3um4") format("svg");
  font-weight: normal;
  font-style: normal;
}
